<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/user}">
<div class="container" layout:fragment="content">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="grid" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Người Mua</th>
                    <th>Sản Phẩm</th>
                    <th>Của Hàng</th>
                    <th>Đánh Giá</th>
                    <th>Trạng Thái</th>
                    <th></th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Người Mua</th>
                    <th>Sản Phẩm</th>
                    <th>Cửa Hàng</th>
                    <th>Đánh Giá</th>
                    <th>Trang Thái</th>
                    <th></th>
                </tr>
                </tfoot>
                <tbody>
                <tr th:each="item: ${orderItems}">
                    <td th:text="${item.order.buyer.user.firstName} + ' ' + ${item.order.buyer.user.lastName}"></td>
                    <td th:text="${item.product.name}"></td>
                    <td th:text="${item.product.seller.name}"></td>
                    <td th:text="${item.review}"></td>
                    <td th:text="${item.reviewStatus}"></td>
                    <td>
                        <form action="#" th:action="@{/admin/reviews/} + ${item.id} + @{/approve}" method="post">
                            <input type="submit" value="Approve" th:if="${item.reviewStatus.toString() != 'APPROVED'}" class="btn btn-success btn-sm"/>
                        </form>
                        <form action="#" th:action="@{/admin/reviews/} + ${item.id} + @{/reject}" method="post">
                            <input type="submit" value="Reject" th:if="${item.reviewStatus.toString() != 'REJECTED'}" class="btn btn-danger btn-sm mt-2"/>
                        </form>
                    </td>
                </tr>

                </tbody>
            </table>

            <div class="m-5"></div>

        </div>
    </div>
</div>
</html>