<ul class="sidebar navbar-nav"
    th:fragment="sidebar"
    sec:authorize="isAuthenticated()"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:th="http://www.thymeleaf.org/">
	
	<!-- user avatar -->
	<div class="align-items-center mx-auto text-center text-light mt-5 mb-3 avatar d-sm-none d-lg-block d-md-block">
		<img th:src="${userInfo.avatarUrl}"
		     class="img-thumbnail w-50 img-responsive img-circle bg-transparent border-0"/>
		
		<div th:text="${userInfo.fullName}"></div>
		<div class="font-italic"
		     sec:authentication="name"></div>
		<div th:text="${userInfo.joinedDate}"></div>
	</div>
	<!-- user avatar -->

	<!-- user messages -->
	<li class="nav-item">
		<a class="nav-link"
		   th:href="@{/account/message}">
			<i class="fas fa-fw fa-mail-bulk"></i>
			<span>Message</span>
		</a>
	</li>
	
	<div sec:authorize="hasAuthority('ADMIN')"
	     th:remove="tag"
	     th:replace="layouts/nav/admin :: admin">
		<!-- admin nav -->
	</div>
	
	<div sec:authorize="hasAuthority('BUYER')"
	     th:remove="tag"
	     th:replace="layouts/nav/buyer :: buyer">
		<!-- buyer nav -->
	</div>
	
	<div sec:authorize="hasAuthority('SELLER')"
	     th:remove="tag"
	     th:replace="layouts/nav/seller :: seller">
		<!-- seller nav -->
	</div>

</ul>