<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/home}">
<div class="container" layout:fragment="content">

    <div class="row">

        <div class="col-lg-3">
            <h1 class="my-4">Thể Loại</h1>
            <div class="list-group w3-light-grey shadow">
                <a href="#" th:href="@{/category?id=} + ${category.id}" class="list-group-item list-group-item-action"
                   th:each="category : ${categories}" th:text="${category.name}"
                   th:classappend="(${category.id} == ${currentCategoryId}) ? 'active' : ''"></a>
            </div>
        </div>
        <div class="col-lg-9">

            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item" th:each="ad : ${adverts}"
                         th:classappend="${adStat.index == 0} ? 'active' : '' ">
                        <a th:href="'https://' + ${ad.url}">
                            <img class="d-block img-fluid" th:src="${ad.image}" alt="First slide"
                                 style="height: 250px; width: 100%; ">
                        </a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-4 mb-4" th:each="product : ${products}">
                    <div class="card h-100 shadow rounded">
                        <a th:href="@{'/product/' + ${product.id}}">
                            <img class="card-img-top" th:src="${product.image}" th:alt="${product.name}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="text-dark" th:href="@{'/product/' + ${product.id}}" th:text="${product.name}">Item One</a>
                            </h5>
                            <h5 class="text-danger"th:text="'$' + ${product.price}"></h5>
                            <p class="card-text text-truncate" th:text="${product.description}"></p>
                        </div>
                        <div class="card-footer">
                            <form sec:authorize="isAnonymous() || hasAuthority('BUYER')"
                                  th:action="@{/product/{id}/cart(id=${product.id})}" method="post" class="m-0 p-0 text-center">
                                <div>
<!--                                    <button title="Add to Cart" class="text-center float-right btn btn-outline-light m-0 p-0"-->
<!--                                            type="submit">-->
<!--                                        Add To Cart-->
<!--                                        <i class="fa fas fa-cart-plus fa-2x text-danger"></i>-->
<!--                                    </button>-->


                                </div>
                                <button title="Add to Cart" class="btn btn-outline-danger"
                                        type="submit">
                                    <i class="fa fas fa-cart-plus"></i> Thêm Vào Giỏ Hàng
                                </button>
                            </form>
<!--                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</html>