<html lang="en"

      xmlns:th=="http://www.thymeleaf.org">
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="~{layouts/buyer}">-->
<!--<div class="container" layout:fragment="content">-->
    <P>
        <h1>Trang Người Mua!!!!</h1>
        <small>Thực Hiện Chức Năng Mua Hàng Của Bạn Trong Khu Vực Này !</small>
    </p>

    <div >
        <form th:object="${buyer}" action="#" th:action="@{/register/buyer}" method="post">
            <label>First Name: </label>
            <input type="text" th:field="*{user.firstName}"/><br/>
            <label>Last Name: </label>
            <input type="text" th:field="*{user.lastName}"/><br/>
            <label>Email: </label>
            <input type="text" th:field="*{user.email}"/><br/>
            <label>Password: </label>
            <input type="password" th:field="*{user.password}"/><br/>
            <label>Confirm Password: </label>
            <input type="password" th:field="*{user.confirmPassword}"/><br/>
            <label>Phone: </label>
            <input type="text" th:field="*{user.phone}"/><br/>
            <label>Address: </label>
            <input type="text" th:field="*{user.address}"/><br/>
            <input type="submit" value="Submit"/>
        </form>
    </div>
<!--</div>-->
</html>