<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/user}">
<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/following.js}"></script>
</head>
<div class="container" layout:fragment="content">
    <h1>Đang Theo Dõi</h1>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Của Hàng</th>
                    <th>Số Điện Thoại</th>
                    <th>Email</th>
                    <th>Địa Chỉ</th>
                    <th>Tác Vụ</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Cửa Hàng</th>
                    <th>Số Điện Thoại</th>
                    <th>Email</th>
                    <th>Địa Chỉ</th>
                    <th>Tác Vụ</th>
                </tr>
                </tfoot>
                <tbody id='seller'>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>