<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/user}">
<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/cart.js}"></script>
    <script type="text/javascript" th:src="@{/js/datatable.js}"></script>
</head>
<div class="container" layout:fragment="content">
    <h1>Giỏ Hàng</h1>
    <div >

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Sản Phẩm</th>
                        <th>Giá</th>
                        <th>Số Lượng</th>
                        <th>Tác Vụ</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Sản Phẩm</th>
                        <th>Giá</th>
                        <th>Số Lượng</th>
                        <th>Tác Vụ</th>
                    </tr>
                    </tfoot>
                    <tbody id='cart-item'>
                    </tbody>
                </table>
            </div>
        </div>

        <form action="#" th:action="@{/buyer/checkout}">
            <input type="submit" value="Checkout" class="btn btn-success"/>
        </form>
    </div>
</div>
</html>